.DS_Store

# Forked repositories
/optimism
/op-geth
/account-abstraction
/blockscout

# Dev Tooling
/__pycache__
/.idea
/.ruff_cache
/venv

# Build & runtime outputs
/bin
/db
/deployments
/logs

# Private configuration
/.env
/config.toml
