[Unit]
Description=Roll-OP Layer 1

[Service]
Type=simple
Restart=always
WorkingDirectory=/roll-op
Nice=-20
ExecStart=/roll-op/rollop --no-ansi-esc --config /roll-op/config.toml l1
TimeoutSec=900

[Install]
WantedBy=default.target
